.addToCart {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FF7E1B;
    width: 14em;
    border-radius: .5rem;
}

#cart {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: .5rem;
    min-width: .5rem;
    padding: 0rem 0.5rem;
}