.page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: 1px dashed black;
}

.productImage {
    background-image: url('image-product-1.jpg');
    background-size: cover;
    grid-column: 2 / 6;
    grid-row: 2 / 12;
    border: 1px solid black;
    border-radius: 1rem;
}

.productInfo {
    grid-column: 7 / 13;
    grid-row: 1 / 13;
    border: 1px dashed black;
}